<link rel="stylesheet" href="/css/carrito.css">
<%- include('../partials/header') %>

<div class="carrito-page">
    <a href="/" class="volver">Volver a inicio</a>
    <h2>Productos de tu Carrito</h2>

    <% if (cart.length === 0) { %>
        <div class="carrito-vacio">
            <p>Tu carrito está vacío</p>
            <a href="/" class="boton">Ir a comprar</a>
        </div>
    <% } else { %>
        <% cart.forEach(item => { %> <!--Recorre cada producto del carrito-->
            <div class="producto-card">
                <img src="<%= item.product.imagen %>" alt="<%= item.product.nombre %>">
                <span class="nombre-producto"><%= item.product.nombre %></span>
                
                <div class="control">
                    <form action="/products/cart/update/<%= item.productId %>" method="POST" style="display:inline;">
                        <input type="hidden" name="quantity" value="<%= item.quantity - 1 %>">
                        <button type="submit">-</button>
                    </form>
                    <span><%= item.quantity %></span>
                    <form action="/products/cart/update/<%= item.productId %>" method="POST" style="display:inline;">
                        <input type="hidden" name="quantity" value="<%= item.quantity + 1 %>">
                        <button type="submit">+</button>
                    </form>
                </div>
                
                <span class="pesos"><%= item.subtotal %> $</span>
                
                <form action="/products/cart/update/<%= item.productId %>" method="POST" style="display:inline;">
                    <input type="hidden" name="quantity" value="0">
                    <button class="boton-quitar">Quitar</button>
                </form>
            </div>
        <% }) %>
        
        <div class="total">
            <span>Total a pagar: <%= total %> $</span>
        </div>
        <div>
        <form action="/products/cart/clear" method="POST">
            <button class="boton" type="submit">Vaciar carrito</button>
        </form>
        </div>
        <div>
            <a href="/">
                <button class="boton">Seguir comprando</button> 
            </a>
        </div>
        <hr>
        <div class="pie-carrito">
            <a href="/products/cart/checkout">
                <button class="boton-pagar">Ir a Pagar</button>
            </a>
        </div>
    <% } %>
</div>

<%- include('../partials/footer') %>